// ---------------------------------------------
// ------ Variables
// ---------------------------------------------
text-font-stack = 'Source Sans Pro', 'Arial', sans-serif
code-font-stack = 'Source Code Pro', 'Monaco', monospace

breakpoints = {
  mobile: 479px, // max-width,
  mobileLandscape: '480 - 767'
  tablet: '768px - 991',
  desktop: 992
}

// Used in creating a meterial design box-shdaow
z-depth-grades = {
  '1': {
    normal: '0 1px 4px 0 rgba(0,0,0,0.37)',
    hover: '0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3)'
  },
}